<p>name-editor works!</p>



<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  

    First Name:
    <input type="text" formControlName="firstName">
    <br>
    Last Name:
    <input type="text" formControlName="lastName">
    <br>

    Email:
    <input type="text" formControlName="email">
    <br>

    <div formGroupName="address">
    <h3>Address</h3>        
    <br>        
    Street:
    <input type="text" formControlName="street">
    <br>
    City:
    <input type="text" formControlName="city">
    <br>  
    State:
    <input type="text" formControlName="state">
    
    <br> 
    Zip Code:
    <input type="text" formControlName="zip">
    
</div>


    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
    <button type="reset" (reset)="onReset()">Submit</button>
</form>
